extends layout

block layout-content
  div.View
    h1 Menu component
    div
      ul
        li.nav-tab  Item 1
          ul.hidden-sub-items 
            li.nested-nav-tab Item 1.1
              ul.hidden-sub-items 
                li Item 1.1.1
                li Item 1.1.2
                li Item 1.1.3
            li Item 1.2
            li Item 1.3
        li.nav-tab  Item 2
        li.nav-tab  Item 3

    hr
    
    div#tabs